.todo_patio{
    width: 100vw;
    min-height: 100vh;
    height: inherit;
    background-color: rgb(17, 90, 155);
    display: flex;
    padding: 5px;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;


    .card_area{
        width: 300px;
        height: 500px;
        background-color: aqua;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}